html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Bevan, serif;
  text-align: center;
  font-weight: bold;
  color: #fff;
  display: block;
  margin: .1em;
}

a {
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

nav li {
  width: auto;
  background-color: #713837;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: .5em;
  display: inline-block;
  list-style-type: none;
  margin: auto;
  font-weight: bold;
  border-radius: .3em;
}

a:hover {
  background-color: #f33;
}

body {
  display: block;
  background-color: #79756f;
  text-align: center;
  border: 3px solid #595652;
  border-right: none;
  border-left: none;
  margin: 0;
  width: 100vw;
}
