html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #fff;
  display: block;
  font-family: "Bevan", sans-serif;
}

h2 {
  display: inline-block;
  margin: .3em;
  color: #fff;
  background-color: #713837;
  padding: .6em .5em .75em .5em;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

body {
  display: block;
  background-color: #79756f;
  text-align: center;
  border: 3px solid #595652;
  border-right: none;
  border-left: none;
  margin: auto;
  padding: .6em .6em;
}
